Django>=5.0,<5.1
psycopg[binary]>=3.2,<4.0
python-dotenv>=1.0,<2.0
Pillow>=10.4,<11.0
qrcode[pil]>=7.4,<8.0
django-storages[s3]>=1.14,<2.0
whitenoise>=6.8,<7.0
gunicorn>=23.0,<24.0
google-cloud-videointelligence>=2.14,<3.0
runwayml>=3.0,<4.0
